<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html, charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="/static/favicon.ico" rel="icon" type="image/x-icon">
        <link href="/static/result.css" rel="stylesheet" />
        <title>User's home page :)</title>
    </head>
    <body>
        <a class="logoutbtn" href="/logout" role="button">Logout</a>
            <iframe id = "secret" width="960" height="540" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1"></iframe>
    </body>
    <footer> &copy; black_phantom@NoSpaceAvailable 2024</footer>
</html>